@model CourseModel
@{
    ViewData["Title"] = "Edit Course Details Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>One Page Wonder - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/styles2.css" rel="stylesheet" />
    <link href="~/css/styles3.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
</head>


<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="../"><img src="~/images/logo.svg" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/Home/Register">Registrarse</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Login">Iniciar Sesion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/About">Acerca de Nosotros</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<br />
<br />
<br />

<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Desarrollo Del Curso</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <div class="h2 fw-bolder">Publica el Curso.</div>
                            <p>Aqui puedes despublicar el curso. Si algo no esta bien, al despublicarlo puedes editar el contenido del curso. Necesitas cambiar otra cosa?</p>
                            <div class="dropdown dropend">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown button
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Editar Actividades</a></li>
                                    <li><a class="dropdown-item" href="#">Editar Preguntas</a></li>
                                    <li><a class="dropdown-item" href="#">Editar Respuestas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://static.helpjuice.com/helpjuice_production/uploads/upload/image/4752/direct/1597678311691-Explicit%20Knowledge.jpg')"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="DeseaPublicar">
    <h1 class="fw-bolder fs-5 mb-4" style="text-align:center">Desea Despublicar el siguiente curso?</h1>
    <div class="card" style="width: 20%; margin: auto">
        <form asp-action="DesPublicarCurso" asp-controller="Home" method="post" style="display: inline-block">
            <div class="form-group">
                <input asp-for="NameCourse" type="hidden" class="form-control" id="txtNameCourse">
                <input asp-for="IdCourse" type="hidden" class="form-control" id="txtNameCourse">
                <input asp-for="Subject" type="hidden" class="form-control" id="txtNameCourse">
                <input asp-for="Description" type="hidden" class="form-control" id="txtNameCourse">
                <input asp-for="Author" type="hidden" class="form-control" id="txtNameCourse">
                <input asp-for="ReleaseDate" type="hidden" class="form-control" id="txtNameCourse">
                <input asp-for="IsPublished" type="hidden" class="form-control" id="txtNameCourse">
                <div class="card h-100 shadow border-0" style="width: 100%; margin: auto">
                    <img class="card-img-top" src="~/images/c_default.png" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">@Model.Subject </div>
                        <a class="text-decoration-none link-dark stretched-link" href="#"><h5 class="card-title mb-3">@Model.NameCourse </h5></a>
                        <p class="card-text mb-0">@Model.Description </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="~/images/a_default.png" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">@Model.Author </div>
                                    <div class="text-muted">@Model.ReleaseDate </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Despublicar Curso</button>
                    <a class="btn btn-danger" href="ListarCursos">No</a>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

