@{
    ViewData["Title"] = "Course List Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>One Page Wonder - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/styles2.css" rel="stylesheet" />
    <link href="~/css/styles3.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="../"><img src="~/images/logo.svg" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/Home/Register">Registrarse</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Login">Iniciar Sesion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/About">Acerca de Nosotros</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<br />
<br />
<br />

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Desarrollo de Curso</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Paso 2</div>
                            <div class="h2 fw-bolder">Agrega, Edita y Elimina Actividades.</div>
                            <p>Las Actividades son parte de reforzar el conocimiento aprendido. Este se lleva a cabo de preguntas y respuestas en un juego, si el alumno reprueba, se regresara a la leccion.</p>
                            <a class="stretched-link text-decoration-none" href="#Tutoriales">
                                Comienza tu aprendizaje
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://static.helpjuice.com/helpjuice_production/uploads/upload/image/4752/direct/1597678311691-Explicit%20Knowledge.jpg')"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="margin: auto;">
    <h1 style="text-align: center">Lista de Actividades </h1>
    <div class="card" style="width:66%; margin: auto">
        <table>
            <thead class="btn-primary">
                <tr>
                    <th>ID Actividad</th>
                    <th>ID Curso</th>
                    <th>Nombre de la Actividad</th>
                    <th>Instrucciones</th>
                    <th>Numero de la Actividad</th>
                    <th>Agregar Preguntas</th>
                    <th>Editar Actividad</th>
                    <th>Eliminar Actividad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.IdActivity  </td>
                        <td> @item.IdCourse </td>
                        <td> @item.NameActivity </td>
                        <td> @item.Instructions </td>
                        <td> @item.NumActivity </td>
                        <td> <a asp-action="#" class="btn btn-secondary" asp-controller="Home" asp-route-IdActivity="@item.IdActivity ">Agregar</a> </td>
                        <td> <a asp-action="EditarDetallesAct" class="btn btn-outline-success" asp-controller="Home" asp-route-IdActivity="@item.IdActivity ">Editar</a> </td>
                        <td> <a asp-action="EliminarActivity" class="btn btn-danger" asp-controller="Home" asp-route-IdActivity="@item.IdActivity ">Eliminar</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col text-center" style="padding-top: 2rem">
            <a asp-action="CrearActivity" class="btn btn-success" asp-controller="Home" asp-route-IdCourse="@TempData["curso"] ">Agregar Actividad</a>
            <!-- Need to send the array of Activities to make a dropdown list-->
        </div>
    </div>
</div>

